.App {
  position: relative;
  width: 100vw;
  min-width:420px;
  min-height:100vh;
  padding:50px 100px 0 100px;
  background-color:var(--clr-backgroud);
}

@media only screen and (max-width:1000px){
  .App {
    padding:50px 10px 0 10px;
  }
}